/* line 1, ../scss/main.scss */
nav {
  padding: 0 1em;
}

/* line 7, ../scss/main.scss */
.input-field label {
  color: #000;
}
/* line 13, ../scss/main.scss */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* line 18, ../scss/main.scss */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* line 22, ../scss/main.scss */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* line 27, ../scss/main.scss */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* line 33, ../scss/main.scss */
.input-field .prefix.active {
  color: #000;
}
